# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [5]:
poke_dex = {
    'evolution' : ['Ivisaur', 'Chameleon', 'Wartortle', 'Metapod'],
    'hp' : [45, 39, 44, 45],
    'name' : ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex' : ['yes', 'no', 'yes', 'no'],
    'type' : ['grass', 'fire', 'water', 'bug']
}

poke_dex

{'evolution': ['Ivisaur', 'Chameleon', 'Wartortle', 'Metapod'],
 'hp': [45, 39, 44, 45],
 'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'pokedex': ['yes', 'no', 'yes', 'no'],
 'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [6]:
pokemon = pd.DataFrame(poke_dex)

pokemon.head()

   evolution  hp        name pokedex   type
0    Ivisaur  45   Bulbasaur     yes  grass
1  Chameleon  39  Charmander      no   fire
2  Wartortle  44    Squirtle     yes  water
3    Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
new_order = ['name', 'type', 'hp', 'evolution', 'pokedex']

pokemon = pokemon[new_order]
pokemon

         name   type  hp  evolution pokedex
0   Bulbasaur  grass  45    Ivisaur     yes
1  Charmander   fire  39  Chameleon      no
2    Squirtle  water  44  Wartortle     yes
3    Caterpie    bug  45    Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [8]:
pokemon['place'] = ['Pallet Town', 'Pallet Town', 'Veridian', 'Minas Tirith']
pokemon

         name   type  hp  evolution pokedex         place
0   Bulbasaur  grass  45    Ivisaur     yes   Pallet Town
1  Charmander   fire  39  Chameleon      no   Pallet Town
2    Squirtle  water  44  Wartortle     yes      Veridian
3    Caterpie    bug  45    Metapod      no  Minas Tirith

### Step 6. Present the type of each column

In [16]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.